# Panel data analysis by statsmodels

* http://www.statsmodels.org/dev/mixed_linear.html
* http://www.statsmodels.org/dev/examples/notebooks/generated/mixed_lm_example.html

* Linear Mixed Effects Models

# 1. Check data

In [3]:
import pandas as pd

dat = pd.read_csv('data.csv')
'''
#add column year to index
dat=dat.set_index('year', append=True)
#swap indexes
dat.index = dat.index.swaplevel(0,1)
'''
dat

   id  year  gdp  para1  para2  para3
0   1  2015    5      1      1      1
1   2  2015   10      1      2      1
2   3  2015   15      1      1      3
3   1  2016   10      1      1      2
4   2  2016   20      2      1      1
5   3  2016   30      2      1      2
6   1  2017   20      3      1      3
7   2  2017   30      2      4      1
8   3  2017   40      3      3      3

# 2. Mixed Effect Model

In [7]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
data = dat
md = smf.mixedlm("gdp ~ para1+para2", data, groups=data["year"])
mdf = md.fit()
print(mdf.summary())

        Mixed Linear Model Regression Results
======================================================
Model:            MixedLM Dependent Variable: gdp
No. Observations: 9       Method:             REML
No. Groups:       3       Scale:              40.1205
Min. group size:  3       Likelihood:         -22.9217
Max. group size:  3       Converged:          Yes
Mean group size:  3.0
------------------------------------------------------
           Coef.  Std.Err.   z    P>|z|  [0.025 0.975]
------------------------------------------------------
Intercept  -4.044    8.876 -0.456 0.649 -21.441 13.352
para1       9.369    3.513  2.667 0.008   2.484 16.253
para2       4.433    2.961  1.497 0.134  -1.370 10.236
groups RE   9.360    6.714
======================================================