# Spam Email Classification

# 1. dataset

* https://archive.ics.uci.edu/ml/datasets/sms+spam+collection

In [3]:
import pandas as pd

df = pd.read_csv('SMSSpamCollection', header=None, sep='\t')

In [5]:
df.tail()

         0                                                  1
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name