# Spam Email Classification

# 1. dataset

* https://archive.ics.uci.edu/ml/datasets/sms+spam+collection

In [3]:
import pandas as pd

df = pd.read_csv('SMSSpamCollection', header=None, sep='\t')

In [5]:
df.tail()

         0                                                  1
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

# 2. check data

In [7]:
# check if null exist in dataset
df.isnull().any()

0    False
1    False
dtype: bool

In [8]:
# Detect missing values.
df.isna().any()

0    False
1    False
dtype: bool

In [17]:
df2 = df.replace('spam',1).replace('ham',0)
print(df2[0].value_counts())
# spam mail count: 747
# non-smpa mail count: 4825

0    4825
1     747
Name: 0, dtype: int64

# Ref

* https://apriljia.com/2018/10/08/%E5%88%A9%E7%94%A8nltksklearn%E8%BF%9B%E8%A1%8C%E5%9E%83%E5%9C%BE%E9%82%AE%E4%BB%B6%E5%88%86%E7%B1%BB/