# 1. read error: the first line as header

In [2]:
import pandas as pd
from io import StringIO

TESTDATA = StringIO( '''a;111;96.7
b;222;98.3
c;333;99.4
''')

df = pd.read_csv(TESTDATA,sep=';')

In [4]:
df# default: the first line as heard

   a  111  96.7
0  b  222  98.3
1  c  333  99.4

# 2. read csv without header

In [7]:
import pandas as pd
from io import StringIO

TESTDATA = StringIO( '''a;111;96.7
b;222;98.3
c;333;99.4
''')
df2 = pd.read_csv(TESTDATA,sep=';',header=None)

In [8]:
df2

   0    1     2
0  a  111  96.7
1  b  222  98.3
2  c  333  99.4

In [9]:
# access data by header

df2[1]

0    111
1    222
2    333
Name: 1, dtype: int64