# Industrial Control System (ICS) Cyber Attack


* ref: https://sites.google.com/a/uah.edu/tommy-morris-uah/ics-data-sets

# 1. download dataset

In [1]:
! wget http://www.ece.uah.edu/~thm0009/icsdatasets/binaryAllNaturalPlusNormalVsAttacks.7z

--2018-12-29 15:34:11--  http://www.ece.uah.edu/~thm0009/icsdatasets/binaryAllNaturalPlusNormalVsAttacks.7z
Resolving www.ece.uah.edu (www.ece.uah.edu)... 146.229.162.145
Connecting to www.ece.uah.edu (www.ece.uah.edu)|146.229.162.145|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19716777 (19M) [text/plain]
Saving to: ‘binaryAllNaturalPlusNormalVsAttacks.7z’

binaryAllNaturalPlu 100%[===================>]  18.80M  3.02MB/s    in 11s

2018-12-29 15:34:23 (1.79 MB/s) - ‘binaryAllNaturalPlusNormalVsAttacks.7z’ saved [19716777/19716777]

# 2. check data

* data details: http://www.ece.uah.edu/~thm0009/icsdatasets/PowerSystem_Dataset_README.pdf

In [49]:
import pandas as pd
df = pd.read_csv('dataset/data1.csv')

In [50]:
df.tail()

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4,marker
4961,28.229631,130882.4694,-91.730543,130882.4694,148.264289,130957.6892,25.553918,459.42299,-95.683952,466.93050,...,0,0,0,0,0,0,0,0,0,Natural
4962,28.195253,130957.6892,-91.770650,130932.6159,148.224182,131032.9090,25.267439,460.70476,-95.752707,467.66294,...,0,0,0,0,0,0,0,0,0,Natural
4963,28.000447,131057.9823,-91.971185,131057.9823,148.035105,131133.2021,24.316329,464.36696,-96.251180,468.94471,...,0,0,0,0,0,0,0,0,0,Natural
4964,27.971800,131083.0556,-91.994104,131057.9823,148.006458,131133.2021,24.259033,464.18385,-96.314205,469.12782,...,0,0,0,0,0,0,0,0,0,Natural
4965,27.931693,131083.0556,-92.034211,131057.9823,147.966351,131133.2021,24.241844,464.00074,-96.342853,469.12782,...,0,0,0,0,0,0,0,0,0,Natural